@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap');

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 3em;
}

h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 2em;
}

p {
  font-family: 'Work Sans', sans-serif;
}